body {
    font-family: "FuturaPt";
    background: #F6F7FB;

    @media (max-width: 430px) {
        overflow-x: hidden;
        width: 100vw;
    }
}

.new_store * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
}

main {
    transition: all 0.4s;
    padding-bottom: 40px;

    @media (max-width: 430px) {
        padding-bottom: 80px !important;
    }

    &.aside_visible {
        transform: translate(3.2%, 0);

        @media (max-width: 430px) {
            transform: translate(0, 0);
        }
    }
}

.mobile-footer {
    display: none;
}

@media (max-width: 430px) {
    .mobile-footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: hsl(228, 38%, 97%);
        height: 70px;
        padding: 0 1em;
        box-shadow: 0px -20px 30px hsl(228, 38%, 97%);
        box-sizing: border-box;

        &__item {}
    }
}

.wrap {
    max-width: 1275px;
    margin-left: 100px;
    padding: 40px 2em 0 0;

    @media (max-width: 430px) {
        margin-left: 0px;
        padding: 1em !important;
    }

    @media (min-width: 1445px) {
        margin: 0 auto !important;
    }
}

.main {
    &__section {
        display: grid;
        grid-gap: 30px;

        &__grid {
            grid-template-columns: 1.1fr 1.5fr 0.65fr;

            @media (max-width: 430px) {
                grid-template-columns: 1fr !important;
            }
        }

        &__item {
            position: relative;
            padding: 25px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);

            @media (max-width: 430px) {
                grid-column: 1 !important;
                grid-row: auto !important;
            }

            &__col_1-2 {
                grid-column: 1/2;
            }

            &__col_1-3 {
                grid-column: 1/3;
            }

            &__col_1-4 {
                grid-column: 1/4;
            }

            &__col_2-3 {
                grid-column: 2/3;
            }

            &__col_2-4 {
                grid-column: 2/4;
            }

            &__col_3-4 {
                grid-column: 3/4;
            }

            &__row_1 {
                grid-row: 1;
            }

            &__row_2 {
                grid-row: 2;
            }

            &__row_1-3 {
                grid-row: 1/3;
            }

            header {
                display: flex;
            }

            h3, h5 {
                margin: 0;
                font-weight: 600;
                font-size: 20px;
                color: #4A4A4A;
            }

            &__form {
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                position: relative;
                padding-bottom: 105px;

                .btn {
                    margin-top: 50px;
                    align-self: center;
                    position: absolute;
                    bottom: 0;
                }

                h4 {
                    font-weight: $medium;
                    font-size: 18px;
                    color: $darkGray;
                }
            }
        }
    }
}

.main__table {
    width: 100%;
    border-collapse: separate;

    &__head_row {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);

        &__sort {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;

            div {
                display: flex;
                flex-direction: column;
                margin-top: 4px;

                svg {
                    transition: all 0.4s;
                }
            }

            > * + * {
                margin-left: 10px;
            }
        }

        th {
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            width: calc(100% / 7);
            background: white;
            position: relative;

            .sort_dropdown {
                position: absolute;
                background: white;
                width: 100%;
                top: 45px;
                margin-left: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s;
                box-shadow: 3px 8px 14px 0 rgba(0, 0, 0, 0.05);
                border-radius: 0 0 8px 8px;

                &__list {
                    list-style: none;
                    padding: 1em 0;
                    margin: 0;

                    &__item {
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                            background: hsla(0, 0%, 85%, 0.2) !important;
                        }

                        a {
                            display: flex;
                            justify-content: center;
                            padding: 12px 0;
                            align-items: center;
                            color: #4A4A4A;
                            font-size: 12px;
                        }

                        &:nth-child(odd) {
                            background: hsla(0, 0%, 85%, 0.05);
                        }

                        &__status {
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 9px;
                                height: 9px;
                                left: 30%;
                                border-radius: 50%;
                                border: 1px solid transparent;
                            }

                            &_success {
                                &::before {
                                    background: #50E3C2;
                                }
                            }

                            &_error {
                                padding-right: 10px !important;

                                &::before {
                                    border-color: #D0021B;
                                }
                            }

                            &_timeout {
                                &::before {
                                    border-color: #F8E71C;
                                }
                            }
                        }
                    }
                }

                &__date {
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    overflow: hidden;

                    &__input_wrap {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 27px 0 12px;

                        input {
                            border: none;
                            outline: none;
                            font-weight: 500;
                            font-size: 12px;
                            color: #4A4A4A;
                            width: 40%;

                            &:first-child {
                                text-align: right;
                            }
                        }

                        p {
                            font-weight: 500;
                            color: #4A4A4A;
                            font-size: 12px;
                        }
                    }

                    &__submit {
                        border: none;
                        background: #00D1FF;
                        color: white;
                        font-weight: 500;
                        font-size: 10px;
                        padding: 16px 0;
                        outline: none;
                    }
                }
            }

            &.drop_opened {
                span {
                    color: #00D1FF;
                }

                div {
                    svg {
                        &:first-child {
                            transform: rotate(180deg);

                            &.revert {
                                transform: translate(0, 7px) rotate(180deg);

                                & + * {
                                    transform: translate(0, -7px);
                                }
                            }

                            * {
                                stroke: #00D1FF !important;
                            }
                        }

                        &:last-child {
                            * {
                                stroke: #00D1FF !important;
                            }
                        }
                    }
                }

                .sort_dropdown {
                    opacity: 1;
                    visibility: visible;
                }
            }

            a {
                position: relative;

                span {
                    color: #4A4A4A;
                    font-size: 20px;
                    font-weight: 500;
                    transition: all 0.4s;
                }
            }

            &:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    tr {
        td {
            border-top: 29px solid transparent;
            border-bottom: 29px solid transparent;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: #9B9B9B;
            line-height: 26px;
        }

        &:nth-child(2n+1) {
            background: white;

            td {
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;

                &:first-child {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 500;
    -webkit-appearance: none;
    border: none;
    transition: all .4s;
    backface-visibility: hidden;
    outline: none;
    transform: translate3d(0, 0, 0);

    &_small {
        width: 120px;
        height: 32px;
        font-size: 12px;
        font-weight: normal;

        &_gradient {
            color: white;
            background-image: linear-gradient(-72deg, #00FDD9 0%, #00D2FE 100%);

            &:hover {
                transform: translate3d(0, 0, 0) scale(0.98);
            }
        }
    }

    &_big {
        width: 200px;
        height: 55px;

        &_gradient {
            color: white;
            background-image: linear-gradient(-72deg, #00FDD9 0%, #00D2FE 100%);

            &:hover {
                transform: translate3d(0, 0, 0) scale(0.98);
            }
        }
    }
}

.haveCheckbox {
    padding-left: 22px;
    position: relative;
    display: flex;

    &.radioActive {
        span {
            color: $darkGray !important;
        }
    }

    span {
        transition: all 0.4s;
    }

    .fakeRadio {
        &.checked {
            pointer-events: none;
        }
    }

    .fakeCheckbox {
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        top: 5px;
        left: 0;
        border: 1px solid transparent;
        border-radius: 50%;
        border-color: #00D1FF;

        &_small {
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translate(0, -50%);
        }

        &_big {
            width: 10px;
            height: 10px;
        }

        &.checked {
            background: #00D1FF !important;
        }
    }

    input.hiddenCheckbox {
        display: none;
    }
}

.bullet {
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        border: 2px solid transparent;
        border-radius: 50%;
        left: -40px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &_blue {
        $color: #0090FF;

        &::before {
            border-color: $color;
            background-color: $color;
        }
    }

    &_pink {
        $color: #DB00F2;

        &::before {
            border-color: $color;
            background-color: $color;
        }
    }

    &_orange {
        $color: #F9B44A;

        &::before {
            border-color: $color;
            background-color: $color;
        }
    }
}

.circle {
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        border: 2px solid transparent;
        border-radius: 50%;
        left: -40px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &_green {
        $color: #6FEF00;

        &::before {
            border-color: $color;
        }
    }

    &_blue {
        $color: #0200F6;

        &::before {
            border-color: $color;
        }
    }
}

.upload_photo_wrap {
    #uploadPhoto {
        width: 100%;
        height: 125px;
        border-radius: 10px;
        background-color: #F3F3F3;
        cursor: pointer;
        transition: all 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);

            span {
                color: $mainBlue;
            }
        }

        &:active {
            transition: all 0s;
            box-shadow: none;
        }

        span {
            margin-top: 12px;
            color: $lightestGray;
            font-size: 18px;
            transition: all 0.4s;
            font-weight: $medium;
        }

        input {
            display: none;
        }
    }

    & + * {
        margin-top: 60px;
    }
}

.main__input {
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    color: $darkGray;
    font-size: 14px;
    outline: none;
    width: 100%;
    padding-bottom: 7px;
    font-weight: $book;

    & + .main__input {
        margin-top: 60px;
    }
}

@media (max-width: 430px) {
    .custom_list__wrap, .section__payment {
        padding-bottom: 130px;
    }

    .custom_list__wrap {
        max-width: 80vw;
        overflow: scroll;
    }
}

.custom_list {
    &__wrap {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        &_name {
            padding-left: 35px;
        }

        &_checkboxes {
            display: flex;
            align-items: center;
            margin-left: 45px;
            align-self: flex-end;

            .haveCheckbox {
                margin: 0;

                .fakeCheckbox {
                    top: 3px;
                    border: 1px solid #9B9B9B;

                    &.checked {
                        background: #4A4A4A !important;
                        border-color: #4A4A4A;
                    }
                }

                span {
                    font-weight: $demi;
                    font-size: 14px;
                    color: $lightGray;
                }

                & + * {
                    margin-left: 30px;
                }
            }
        }

        &_btn {
            font-weight: $medium;
            font-size: 12px;
            color: $darkGray;
            width: 120px;
            height: 32px;
            border: 1px solid $darkGray;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-left: 40px;
            margin-bottom: -27px;

            input {
                -webkit-appearance: none;
                border: none;
                text-align: right;
                max-width: 50%;
                background: transparent;
                margin-left: -24%;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        padding: 15px;

        &:nth-child(odd) {
            background: #FAFAFA;
        }
    }

    &__name {
        span {
            font-size: 16px;
            font-weight: $medium;
            color: $darkGray;

            &.bullet {
                &::before {
                    left: -21px;
                }
            }
        }
    }

    &__desc {
        margin-top: 6px;
        white-space: nowrap;

        span {
            font-size: 16px;
            font-weight: $medium;
            color: $lightGray;
        }
    }
}

.form {
    &_typical {
        display: flex;
        flex-direction: column;

        input[type="text"] {
            font-weight: $book;
            font-size: 10px;
            color: $darkGray;
            margin-top: 30px;
        }

        input[type="reset"] {
            font-size: 10px;
            color: $darkGray;
            font-weight: $medium;
            border: none;
            margin-top: 8px;
        }

        .haveCheckbox {
            margin: 16px 0 0;

            & + * {
                margin-top: 30px;
            }

            span {
                font-size: 12px;
                color: $darkGray;
                font-weight: $medium;
            }

            .fakeCheckbox {
                top: 3px;
            }
        }
    }
}

.bottom_btns {
    position: absolute;
    bottom: 45px;
    display: flex;
    width: calc(100% - 50px);
    flex-direction: column;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    align-items: center;

    .btn {
        max-width: 100%;
    }

    &.upper {
        padding-bottom: 22px;
    }
}

.wrap__input_with_heading {
    margin-top: 35px;

    h5 {
        font-size: 14px;
        color: $lightGray;
        font-weight: $book;
    }

    input {
        margin-top: 14px;
        font-size: 10px;
        color: $darkGray;
    }
}

.custom_select {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    border: none;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;

    &.opened {
        .custom_select__choosen {
            span {
                color: $mainBlue;
            }
        }

        .custom_select__options {
            max-height: 500px;
        }

        .hideOptions {
            display: block;
        }

        .showOptions {
            display: none;
        }
    }

    &__choosen {
        font-size: 16px;
        font-weight: $book;
        color: $darkGray;
        display: flex;
        align-items: center;

        * + * {
            margin-left: 16px;
        }
    }

    &__options {
        max-height: 0;
        overflow: hidden;

        .custom_select__option {
            > span {
                margin-top: 4px;
                font-size: 12px;
                font-weight: $book;
                color: $darkGray;
                transition: all 0.4s;
            }

            &:hover {
                > span {
                    color: hsla(191, 100%, 50%, 0.5);
                }
            }
        }
    }

    .hideOptions {
        display: none;
    }
}

.noTransition {
    transition: all 0s !important;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.transparent {
    opacity: 0.5;
}

#uploadedImage {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;

    > * + * {
        margin-left: 8px;
    }

    &__back {
        &:hover {
            * {
                stroke: hsl(0, 0%, 45%);
            }
        }

        * {
            transition: all 0.4s;
        }

        svg {
            transform: rotate(90deg);
        }
    }

    &__forward {
        &:hover {
            * {
                stroke: hsl(0, 0%, 45%);
            }
        }

        * {
            transition: all 0.4s;
        }

        svg {
            transform: rotate(-90deg);
        }
    }

    &__page {
        color: hsl(0, 0%, 61%);
        font-size: 20px;
        font-weight: 500;
        transition: all 0.4s;

        &.current {
            color: $darkGray;
            pointer-events: none;
        }

        &:hover {
            color: hsl(0, 0%, 45%);
        }

        &_dots {
            pointer-events: none;
        }
    }
}

.billing {
    display: flex;
    justify-content: space-between;

    .billing-plan {
        width: 33%;
    }
}

.billing-plan {
    display: flex;
    flex-direction: column;
    border: 4px solid transparent;
    transition: all 0.4s;
    border-radius: 8px;
    align-items: center;
    color: white;
    padding: 50px 35px 165px;
    position: relative;
    width: 265px;
    background: hsl(191, 100%, 50%);

    & + * {
        margin-left: 30px;
    }

    &:hover {
        border-color: hsl(228, 38%, 97%);
    }

    &__title {
        font-weight: $medium;
        font-size: 31px;
        letter-spacing: 0.35px;
        text-align: center;

        & + * {
            margin-top: 40px;
        }
    }

    &__price {
        font-weight: $medium;
        font-size: 93px;
        text-align: center;

        & + * {
            margin-top: 20px;
        }
    }

    .main__section__cta__btn {
        width: calc(100% - 70px);
        height: 70px;
        position: absolute;
        bottom: 50px;
    }

    &__text {
        &-item {
            font-size: 20px;
            letter-spacing: 0.23px;
            text-align: center;
            font-weight: $medium;
            margin: 0;
            line-height: 36px;

            &_margin-top {
                margin-top: 20px;
            }
        }

        &-title {
            font-weight: $medium;
            font-size: 20px;
            letter-spacing: 0.23px;
            text-align: center;
            margin-bottom: 0;

            & + * {
                margin-top: 40px;
            }
        }
    }
}

.main__section__cta__btn {
    width: calc(100% - 70px);
    height: 70px;
    position: absolute;
    bottom: 50px;
    background: white;
    color: #00D7F9;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    border: 3px solid white;

    &:hover {
        background: transparent;
        color: white;
    }
}

.plan_body {
    .wrap {
        box-sizing: border-box;
    }
}

.plan-link {
    color: hsl(0, 0%, 83%);
    transition: all 0.4s;

    &:hover {
        color: $mainBlue;
    }
}

.popup {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 150%);
    background: white;
    border-radius: 8px;
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);
    transition: all 0.4s;

    &.visible {
        transform: translate(-50%, 0%);
    }

    &_success {
        .popup__text {
            color: $mainBlue;
        }
    }

    &_error {
        .popup__text {
            color: hsl(0, 100%, 50%);
        }
    }
}
