// Variables
$darkGray: hsl(0, 0%, 29%);
$lightGray: hsl(0, 0%, 61%);
$demi: 600;
$book: normal;

// Mixins
@mixin linkHover {
    transition: all 0.4s;

    &:hover {
        color: hsl(191, 100%, 50%);
    }
}

@mixin svgHover {
    transition: all 0.4s;

    path {
        transition: all 0.4s;
    }

    &:hover {
        path {
            fill: hsl(191, 100%, 50%);
        }
    }
}
