.main__stores {
    &__exchange_rates {
        display: flex;
        flex-direction: column;
        max-width: 1233px;

        & + * {
            margin-top: 50px;
        }

        &__title {
            font-weight: 600;
            color: hsla(226, 25%, 36%, 0.5);

            & + * {
                margin-top: 16px;
            }
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__item {
                display: flex;
                font-family: 'CoreSansG';
                font-weight: 700;

                &__currencies_rates {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    & + * {
                        margin-left: 30px;
                    }

                    span {
                        display: inline-block;

                        &:first-child {
                            color: #393939;
                            font-size: 14px;
                        }

                        &:last-child {
                            color: hsla(0, 0%, 24%, 0.5);
                            font-size: 13px;
                            margin-top: 4px;
                        }
                    }
                }

                &__graphs {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__graph {
                        display: flex;
                    }

                    &__stats {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 3px;

                        &__percents {
                            color: #00D1FF;
                            font-size: 8px;
                        }

                        &__multiplier {
                            color: hsla(252, 77%, 53%, 0.1);
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }

    &__content {
        grid-template-columns: repeat(3, 1fr);

        &__graphs {
            
        }
    }
}
