.main__stores {
    padding-bottom: 40px;

    &__total {
        margin-top: 45px;
        display: flex;
        flex-direction: column;

        span {
            font-weight: $demi;
            font-size: 22px;
            color: $darkGray;
        }

        h3 + * {
            margin-top: 30px;
        }

        span + span {
            margin-top: 20px;
        }
    }

    &__exchange_rates {
        display: flex;
        flex-direction: column;
        max-width: 1233px;

        & + * {
            margin-top: 50px;
        }

        &__title {
            font-weight: 600;
            color: hsla(226, 25%, 36%, 0.5);

            & + * {
                margin-top: 16px;
            }
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 430px) {
                width: 100%;
                overflow: scroll;
            }

            &__item {
                display: flex;
                font-family: 'CoreSansG';
                font-weight: 700;

                @media (max-width: 430px) {
                    min-width: 185px;
                }

                &__currencies_rates {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    & + * {
                        margin-left: 30px;
                    }

                    span {
                        display: inline-block;

                        &:first-child {
                            color: #393939;
                            font-size: 14px;
                        }

                        &:last-child {
                            color: hsla(0, 0%, 24%, 0.5);
                            font-size: 13px;
                            margin-top: 4px;
                        }
                    }
                }

                &__graphs {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__graph {
                        display: flex;
                    }

                    &__stats {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 3px;

                        &__percents {
                            color: #00D1FF;
                            font-size: 8px;
                        }

                        &__multiplier {
                            color: hsla(252, 77%, 53%, 0.1);
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }

    &__content {
        grid-template-columns: 1.165fr 1.165fr 1fr;

        @media (max-width: 430px) {
            grid-template-columns: 1fr !important;
        }

        &__graphs {
            overflow: hidden;

            img {
                position: relative;
                left: -25px;
                bottom: -30px;

                // width: 106.4%;
           
            }
        }

        &__history {
            &__content {
                &__list {
                    margin-top: 50px;

                    * + * {
                        margin-top: 30px;
                    }

                    &__item {
                        font-weight: 600;
                        font-size: 22px;
                        color: #4A4A4A;
                        list-style: disc;
                        display: flex;
                        position: relative;
                    }
                }
            }
        }

        &__stores {
            display: grid;
            grid-template-columns: 1.165fr 1.165fr 1fr;
            grid-gap: 30px;
            position: relative;

            @media (max-width: 430px) {
                grid-template-columns: 1fr !important;
                grid-row: 2;
            }

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 210px;
                transition: all 0.4s;

                @media (max-width: 430px) {
                    height: 110px;
                }

                &__add {
                    cursor: pointer;
                }

                &:hover {
                    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
                }

                > * + * {
                    margin-top: 33px;
                }

                &:nth-child(4n) {
                    margin-left: 0;
                }

                span {
                    font-weight: 500;
                    font-size: 22px;
                    color: black;
                }

                p {
                    margin-bottom: 0;
                    font-weight: 500;
                    color: #C0C0C0;
                    font-size: 18px;
                }
            }
        }

        &__full_history {
            .main__stores__content__history {
                grid-row: 1/4;

                @media (max-width: 430px) {
                    grid-row: 3;
                }
            }

            .main__stores__content__graphs img {
                width: 106.1%;

                @media (max-width: 430px) {
                    grid-row: 1;
                }
            }

            .main__stores__content__stores {
                grid-template-columns: 1fr 1fr;

                @media (max-width: 430px) {
                    grid-column: 1;
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

.mainGraphHolder {
    position: relative;

    header {
        justify-content: space-between;
        align-items: center;
    }

    .graphMenu {
        .openGraphMenu {
            cursor: pointer;
        }

        &.opened {
            .graphMenuContent {
                visibility: visible;
                transform: translate(0, 0);
                opacity: 1;
            }
        }

        .graphMenuContent {
            opacity: 0;
            transform: translate(0, -50%);
            transition: all .4s;
            visibility: hidden;

            //
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            padding: 50px 90px 30px 30px;
            z-index: 3;
            border-bottom-left-radius: 8px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);

            .haveCheckbox {
                span {
                    font-weight: $book;
                    font-size: 14px;
                    color: $lightGray;
                }

                & + div {
                    margin-top: 18px;
                }

                .fakeCheckbox {
                    top: 4px;
                    width: 8px;
                    height: 8px;
                }
            }

            .closeGraphMenu {
                display: flex;
                position: absolute;
                top: 30px;
                right: 30px;
                cursor: pointer;
            }
        }
    }
}

.mainGraph {
    height: 270px;
    max-height: 270px;
}

.chartjs-size-monitor {}
